<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:include="@{admin/include}::header" ></head>
</head>
<body>

<div class="navbar">
    <head th:include="@{admin/include}::top" ></head>
</div>


<div class="main-container container-fluid">
    <div class="page-container">

        <head th:include="@{admin/include}::left" ></head>

        <div class="page-content">
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">商品管理</li>
                    <li class="active">品牌管理</li>
                </ul>
            </div>

            <div class="page-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">用户列表</span>
                                <span onClick="javascript:window.location.href = '/admin/brand/add'" class="widget-caption" style="float: right;padding: 0px 10px;border-radius: 5px;border: 2px solid #00adee;line-height: 25px;background: #00adee33;margin-top: 2px;cursor: pointer">添加</span>
                            </div>
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">品牌名称</th>
                                            <th class="text-center">LOGO</th>
                                            <th class="text-center">品牌描述</th>
                                            <th class="text-center">状态</th>
                                            <th class="text-center" style="width: 15%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="list,i:${lists}">
                                            <td align="center" th:text="${i.index+1}"></td>
                                            <td align="center" th:text="${list.name}"></td>
                                            <td align="center">
                                                <a th:href="${list.url}"><img th:src="'http://127.0.0.1:1000/'+${list.logo}" height="32px"></a>
                                            </td>
                                            <td align="center" th:text="${list.description}"></td>
                                            <td align="center" th:switch="${list.status}"><span th:case="1">正常</span><span th:case="0">禁止</span></td>
                                            <td align="center">
                                                <a href="/admin/user/edit/id/6.html" class="btn btn-primary btn-sm shiny"><i class="fa fa-edit"></i> 编辑</a>
                                                <a href="#" th:onClick="'warning(\'确实要删除吗\',\'/admin/brand/del/'+ ${list.id} +'\')'" class="btn btn-danger btn-sm shiny"><i class="fa fa-trash-o"></i> 删除</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/style/bootstrap.js"></script>
<script src="/style/beyond.js"></script>
<script src="/iconfont/iconfont.js"></script>
</html>